.App {
  width: 100%auto;
}

body {
  margin: 0;
  padding: 0;
}

.Navbar {
  background-color: #dad6d634;
  width: 100%auto;
  height: 90px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  overflow: hidden;
}

.Navbar .leftSide {
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.Navbar .leftSide .links {
  max-height: 68px;
}

.Navbar .leftSide .links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.945);
  font-size: 25px;
  margin-left: 10px;
}

.Navbar .leftSide button {
  display: none;
  margin-left: 10px;
}

.Navbar .leftSide #hidden {
  display: flex;
}

.Navbar .rightSide {
  flex: 50%;
  display: flex;
  justify-content: right;
  align-items: right;
}

.Navbar .rightSide a {
  text-decoration: none;
  color: rgb(153, 10, 172);
  font-size: 14px;
  margin: 20px;
  font-family: sans-serif;
  font-style: italic;
  background-color: rgba(255, 255, 255, 0.445);
  border-radius: 5px;
}

.Navbar .acceso a {
  text-decoration: none;
  color: rgb(153, 10, 172);
  font-size: 14px;
  font-family: sans-serif;
  font-style: italic;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

@media only screen and (max-width: 776px) {
  .Navbar .rightSide a {
    display: none;
  }
}

@media only screen and (max-width: 776px) {
  .Navbar .acceso a {
    display: inline;
    position: absolute;
    font-size: 12px;
    top: 1px;
    left: 10px;
  }
}

@media only screen and (min-width: 955px) {
  .Navbar .rightSide a {
    font-size: 20px
  }
}

@media only screen and (max-width: 1000px) {
  .Navbar .leftSide .links a {
    font-size: 30px
  }
}

@media only screen and (max-width: 750px) {
  .Navbar .leftSide .links a {
    font-size: 15px
  }
}

@media only screen and (max-width: 776px) {
  .Navbar .leftSide button {
    display: flex;
  }
  .Navbar .leftSide .links {
    display: none;
  }
  .Navbar .leftSide #hidden {
    position: absolute;
    top: 90px;
    height: 230px;
    max-height: 240px;
    width: 100%;
    background-color: #000000d8;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Navbar .leftSide #hidden a {
    margin: 5px;
    font-size: 20px;
  }
}